body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 20px;
   font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

/* NAVIGATION */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e91e63;
}

/* PRODUCTS */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: white;
    width: 220px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product h3 {
    color: #e91e63;
    margin: 10px 0;
}

.product button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #c2185b;
}

.product a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #2ecc71; /* icyatsi cyiza */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* igihe uyishyiriyeho mouse */
.product a:hover {
    background-color: #27ae60;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* igihe ukanze */
.product a:active {
    transform: scale(0.95);
}


/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
